body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  margin-top: 50px;
  font-size: 60px;
}

footer {
  margin-left: 85%;
  color: midnightblue;
}


span {
  color: darkblue;
}

.left {
  display: inline-block;
  position: relative;
  left: 200px;
  width: 1050px;
  top: 0px;
}

.right {
  display: inline-block;
  position: relative;
  left: 700px;
  width: 1050px;
  top: 40px;
}

.tile-imageR{
  float: left;
}

.tile-imageL {
  float: left;
}

.card-title {
  position: relative;
  left: 75px;
  font-size: 35px;
}

p {
  position: relative;
  left: 75px;
  font-size: 27px;
}



@media (max-width: 500px){

  h1{
    font-size: 65px;
  }

  .logo{
    height: 30px;
  }



  .left, .right {
    display: block;
    width: 100%;
    left: 0px;
    top: 0%;
  }

  p {
    left: 0px;
  }

  .card-title{
    left: 0px;
  }
    

    .tile-imageR, .tile-imageL{
      float: none;
      display: block;
      width: 400px;
    }
  

}
