.body{
    height: 100vh;
    width: 100%;
}


.title-container {
    background-image: url(./NYCw.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 450px;

}

.titlename, .titlepro {
    margin-top: 200px;
    color: white;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;

}

.imgme{
    width: 220px;
    height: 220px;       
    border-radius: 50%;
    object-fit: cover;  
    display: block;
    margin: 0 auto 15px auto;
    padding-bottom: 10px ;
}


.imgsk {
    height: 100px;

}


.mysk{
    text-align: center;
    font-size: 35px;
    font-weight: bold;

}

